.app-container {
  display: flex;
  flex-flow: row wrap;
}

.wood-header {
  display: flex;
  width: 100%;
}

/* We tell all items to be 100% width */
/*.header, .nav, .homepage, .wood-image {
  flex: 1 100%;
}*/

.header {
  position: relative;
}

.wood-image {
  width: 100%;
}

.nav {
  display: flex;
  font-family: 'Cabin Sketch', cursive;
  font-size: 26px;
  color: black;
  justify-content: flex-end;
  position: absolute;
  width: 97%;
  top: 90px;
}

.homepage {
  font-family: 'Noto Sans', sans-serif;
}

.home {
  padding: 10px;
}

.gallery {
  padding: 10px;
}

.contact {
  padding: 10px;
}

h1 {
   font-family: 'Cabin Sketch', cursive;
   font-size: 50px;
   position: absolute;
   top: 100px;
   left: 30px;
   width: 100%;
}

h2 {
   font-family: 'Caveat', cursive;
   font-size: 30px;
   position: absolute;
   top: 175px;
   left: 30px;
   width: 100%;
}
