.app-container {
  display: flex;
  flex-flow: row wrap;
}

.wood-header {
  display: flex;
  width: 100%;
}

.header {
  position: relative;
}

.wood-image {
  width: 100%;
}

.nav {
  list-style: none;
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
  color: black;
  justify-content: flex-end;
  position: absolute;
  width: 97%;
  top: 112px;

  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .nav, .text-header {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .nav, .text-sub {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.homepage {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  padding: 100px;
}


.text-header {
   font-family: 'Cabin Sketch', cursive;
   font-weight: bold;
   font-size: 60px;
   position: absolute;
   top: 120px;
   left: 30px;
}

.text-sub {
   font-family: 'Caveat', cursive;
   font-size: 30px;
   position: absolute;
   top: 185px;
   left: 30px;
}
