.hero {
  background-image: url('../images/wood-tree-grain-fallen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero h1 {
  font-weight: bold;
  color: green;
}
