.app {
  padding-top: 30px;
}

.hero {
  background-image: url('../images/woodrounds.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero h1 {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 60px;
}

.hero h2 {
  font-size: 35px;

}

.topdivider {
  height: 15px;
  width: 100%;
  background-color: #272727;
}

.divider {
  height: 15px;
  width: 100%;
  background-color: #141110;
}

.services {
  padding-top: 50px;
  background: gray;
  color: white;
}

.services h3 {
  font-weight: bold;
  color: white;
}

.fa {
  display: inline-block;
}

i {
  color: green;
  margin: 15px;
  padding-top: 20px;
  border-top: 2px solid green;
}

.itemImage {
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.gallery {
  padding-top: 50px;
}

.itemName {
  margin: 15px;
  padding-top: 20px;
}

.galleryfour {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.galleryfour img {
  width: 230px;
  height: 170px;
}

.pictures {
  text-align: center;
}

.bottom-hero {
  background-image: url('../images/forestgreen.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 0 50px 0;
  text-align: center;
}

.small-divider {
  height: 5px;
  width: 100%;
  background-color: #141110;
}

.footer {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 12px;
}

.footer p {
  margin-bottom: 0px;
}

.hidden {
  display: none;
}
